<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    {{'USERS.LIST_TITLE' | translate}}
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary" data-bs-toggle="offcanvas" href="#userAddModal" role="button"
                    aria-controls="userAddModal">
                    <svg xmlns=" http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="12" y1="5" x2="12" y2="19" />
                    <line x1="5" y1="12" x2="19" y2="12" />
                    </svg>
                    {{'USERS.ADD' | translate}}
                </button>
            </div>
            <div class="card-body border-bottom py-3">
            </div>
            <ngx-datatable class="material fullscreen table table-responsive" [columnMode]="ColumnMode.force"
                [headerHeight]="50" [rowHeight]="50" [rows]="users" [limit]="basicSelectedOption">
                <ngx-datatable-column name="{{'USERS.TABLE.EMAIL' | translate}}" prop="email"
                    [width]="300"></ngx-datatable-column>
                <ngx-datatable-column name="{{'USERS.TABLE.FULL_NAME' | translate}}" prop="first_name">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <span>{{row.first_name}} {{row.last_name}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="{{'COMMON.STATUS' | translate}}" prop="is_active">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <span class="badge bg-success me-1"
                            [ngClass]="{'bg-success': row.is_active, 'bg-danger': !row.is_active}"></span>
                        {{row.is_active ? 'Active' : 'Passive'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="{{'COMMON.ACTIONS' | translate}}" [width]="100">
                    <ng-template ngx-datatable-cell-template>
                        <div class="btn-group">
                            <button class="btn btn-pill btn-sm btn-outline-warning" data-bs-toggle="offcanvas"
                                href="#userUpdateModal" role="button" aria-controls="userUpdateModal">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-pencil-minus" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M8 20l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4z"></path>
                                    <path d="M13.5 6.5l4 4"></path>
                                    <path d="M16 18h4"></path>
                                </svg>
                            </button>
                            <button class="btn btn-pill btn-sm btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M18 6l-12 12"></path>
                                    <path d="M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </div>
    </div>
</div>


<app-user-add [roles]="roles" [parent]="this"></app-user-add>
<app-user-update></app-user-update>